@charset "UTF-8";

/*Usamos fuentes externas descargadas en google font*/
@font-face { 
    font-family: 'LibreBodoni_bold';                /* definimos una fuente */          
    src: url('../Fuentes/LibreBodoni-Bold.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'LibreBodoni_bolditalic';                /* definimos una fuente */          
    src: url('../Fuentes/LibreBodoni-BoldItalic.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'LibreBodoni_italic';                /* definimos una fuente */          
    src: url('../Fuentes/LibreBodoni-Italic.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'LibreBodoni_medium';                /* definimos una fuente */          
    src: url('../Fuentes/LibreBodoni-Medium.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'LibreBodoni_regular';                /* definimos una fuente */          
    src: url('../Fuentes/LibreBodoni-Regular.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'Play_bold';                /* definimos una fuente */          
    src: url('../Fuentes/Play-Bold.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'Play';                /* definimos una fuente */          
    src: url('../Fuentes/Play-Regular.ttf');     /* indica su ubicación */
}

/*Definimos la paleta de colores que usaremos como variables*/
:root{
    --yale-blue: #134074ff;
    --berkeley-blue: #13315cff;
    --oxford-blue: #0b2545ff;
    --powder-blue: #8da9c4ff;
    --mint-cream: #eef4edff;
    --brown:#7f5539
}

.theme_prin { color: var(--mint-cream) !important; background-color: var(--yale-blue) !important;}
.text-theme { color: #000000 !important; }

/* Aplicamos a cada estilo lo siguiente*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: "LibreBodoni_bold";
    position: fixed;
    top: 0;
    width: 100%;
    height: 22%;
    justify-content: center;
    z-index: 999;
}

.center{
    padding-top: 3%;
    text-align: center;
}

.textLarge { 
    font-size: 48px!important; 
}

@keyframes animatebottom { from { bottom: -300px; opacity: 0; } to { bottom: 0; opacity: 1; } }
.animateBott { 
    position: relative; animation: animatebottom 0.4s; 
}

/* establecemos un estilo para la barra de navegacion, centrando los botones de seleccion 
    su posicion esta fija de modo que se mantendra en la misma y se encuentra ubicada en el lado derecho de la pagina*/
.navbar {
    position: fixed;
    height: 100%;
    width: 22%;
    align-items: center;  
    background-color: var(--mint-cream);  
}
    
/* Quitamos el margen y el padding del ul y el ul li de la barra de navegación para poder centrar los botones de la barra */
nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 60%;
}
    
nav ul li {
    padding: 10px;
    overflow: hidden;
}
    
/* Establecemos el estilo de los botones */
nav ul li a {
    padding: 15px;
    text-decoration: none; /* Sin decoración de texto */
    font-size: larger; /* Tamaño de fuente */
    font-family: "LibreBodoni_bold";
    color: var(--brown);
    list-style: none; /* Para quitar los puntos de la lista si los hubiera */
}

/* Estilo del enlace de la barra de navegación al pasar el mouse */
nav ul li a:hover {
    color: var(--yale-blue); /* Cambia el color del texto al pasar el mouse */
}

/*Los siguientes estilos generan el menu desplegable, el cual nos permitira acceder al menu cuando las
dimensiones de la pantalla disminuyan*/
/* Ocultamos el checkbox para el botón de menú desplegable */
.nav-toggle {
    display:none;
}

/* Estilizamos la etiqueta para el botón de menú desplegable */
.nav-toggle-label {
    display: none; /* Ocultamos la etiqueta por defecto */
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    z-index: 999;
    overflow: visible; /*Permitimos que el objeto se vea completo sin ningun scroll*/
}
  
/* Estilizamos las tres líneas horizontales que generan el botón del menú desplegable */
.nav-toggle-label span {
    background: #fff;
    display: block;
    width: 30px;
    height: 4px;
    margin: 10px auto;
    border-radius: 2px;
    transition: 0.3s;
}
  
/* Los siguientes tres estilos aplicados sobre la etiqueta de la barra de navegacion nos permite generara las tres lineas
del menu desplegable*/
.nav-toggle-label span:first-child {
    margin-top: 0;
    width: 45px;
}
  
/* Estilizamos la primera línea del botón del menú desplegable */
.nav-toggle-label span:nth-child(2) {
    width: 45px;
}
/* Estilizamos la segunda línea del botón del menú desplegable */
.nav-toggle-label span:nth-child(3) {
    width: 45px;
}

/* el estilo especificado se aplicará a los elementos <span> que son el primer hijo directo del elemento 
.nav-toggle-label, pero solo si el elemento .nav-toggle está seleccionado (es decir, está "checked").*/

/* Estilizamos la primera línea del botón del menú depslegable cuando el checkbox está marcado */
.nav-toggle:checked ~ .nav-toggle-label span:first-child {
    transform: rotate(45deg) translate(10px, 10px);
    background: white;
}
  
/* ocultamos la linea del medio, ya que la idea es realizar una transformacion tipo transicion que convierta el menu
en una X*/
.nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    opacity: 0;
}
  
/* Estilizamos la tercera línea del botón del menú depslegable cuando el checkbox está marcado */
.nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
    background: white;
}
    
/* establecemos el estilo del pie de pagina*/
footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10pt;
    font-size:medium;
    font-family: 'LibreBodoni_regular-24';
    background-color: #dce0e6;
    text-align: center;
}

.bar {
    width: 100%;
    height: 3px;
}

hr{
    color: var(--mint-cream);
    margin: 10px;
}

/*Panel/Contenedor que nos permite organizar su contenido en columnas*/
.panel{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    padding-left: 24%;
    justify-content: space-between;
    padding-bottom: 5%;
}

/*Panel/Contenedor que nos permite organizar su contenido en columnas*/
.panel_background{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    padding-left: 24%;
    justify-content: space-between;
    padding-bottom: 5%;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://www.imeditores.com/banocc/universo/fotos/thumbs/125.jpg'); /*Permite bajarle la opacidad al fondo sin modificar la opacidad del texto contenido*/
}

/*Estilo para un contenedor que organice los elementos internos en filas*/
.contenedor {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 2%;
    padding-bottom: 5%;
}

/*Establecemos el estilo de los headers 2 del elemento panel*/
.panel h2 {
    padding: 5px;
    font-family: "Play_bold";
}

/*Establecemos el estilo de los parrafos del elemento panel*/
.panel p {
    padding: 5px;
    font-family: "Play";
}

.panel_background h2{
    padding: 5px;
    font-family: "Play_bold";  
}

.panel_background p{
    padding: 5px;
    font-family: "Play";
}

/*Con los siguientes estilos card buscamos crear tres recuadros horizontales donde acomodar fotos
con informacion relevante y su titulo correspondiente*/
.card {
    width: 30%; /* Ajusta el ancho de las cartas según sea necesario */
    border: 1px solid #f4f3f3;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(182, 182, 182, 0.1);
    margin-bottom: 20px;
}

/*Establecemos el estilo de las imagenes del elemento card*/
.card img {
    width: 100%;
    height: auto;
    display: block;
}

/*Estilo encargado del contenido del card donde ira la imagen*/
.card-content {
    padding: 20px;
}

/*Establecemos el estilo de los headers 2 del elemento card-content*/
.card-content h2 {
    margin-top: 0;
    font-family: "Play_bold";
}

/*Establecemos el estilo de los parrafos del elemento card-content*/
.card-content p {
    padding: 10px;
    margin-bottom: 0;
    font-family: "Play";
}

figcaption {
    font-family: "LibreBodoni_italic"; /* Fuente */
    padding: 2px;
    font-size: 14px; /* Tamaño de fuente */
    color: #567ebb; /* Color del texto */
    text-align: center; /* Alineación del texto centrada */
}

/*Buscamos crear un slideshow animado que se dezplace entre imagenes de forma automatica y constante*/
/*
    El uso de # se utiliza para seleccionar elementos por su id, mientras que . se utiliza para seleccionar elementos por su clase. 
    Especificamos un estilo especifico para realizar el slider.
*/
#slider {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    /* Se aplica la animación "slide" durante 10 segundos, infinitamente, alternando entre las iteraciones */
    animation: slide 20s infinite alternate;
}

.slider {
    flex: 0 0 100%;
    position: relative;
}

/*Estilo de la imagen contenida en el slider*/
.image img {
    width: 80%;
    height: auto;
}

/* Animación de desplazamiento */
@keyframes slide {
    /* Define la animación para desplazar los elementos de la lista */
    0% {
        transform: translateX(0);
    }
    /* Desplaza los elementos hacia la izquierda, simulando un efecto de slider */
    100% {
        transform: translateX(-200%);
    }
}

/*Texto resaltado y en italica
Proposito: resaltar citas*/
.text_res{
    padding: 50px;
    font-family: "LibreBodoni_bolditalic";
    font-size: medium;
}

/*Estilo que brinda la organizacion de una galeria fotografica*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

/*Filas de la galeria*/
.row {
    flex: 0 0 33%; /* Cada columna ocupa 1/3 del ancho disponible */
    padding: 5px;
}

/*Columnas de la galeria, permite 4 filas */
.column {
    flex: 0 0 20%; /* Cada columna ocupa 1/3 del ancho disponible */
}
  
/*Asociamos un estilo a cada clase img que este contenida en columna*/
.column img {
    width: 100%;
    height: 100%;
}

/*Asociamos un estilo a cada caption de imagen que este contenida en columna*/
.column figcaption{
    font-family: "LibreBodoni_italic"; /* Fuente */
    padding: 2px;
    font-size: 10px; /* Tamaño de fuente */
    color: #567ebb; /* Color del texto */
    text-align: left; /* Alineación del texto centrada */ 
}

/* El siguiente estilo es para cuadrar la imagen al lado izquierdo del texto cuando la imagen esta contenida en un parrafo de un panel*/
.panel p img{
    float: left;
    margin-right: 20pt;
	margin-top: 20pt;
    margin-bottom: 20pt;
}

/*Imagen a la derecha, estilo para parrafos
El !important nos permite que el estilo se aplique sobre cualquier otro*/
.img_right{
    float: right !important;
    margin-left: 20pt !important;
	margin-top: 20pt !important;
    margin-bottom: 20pt !important;
}
  
/*Modificamos los estilos para que se adapten a las distintas pantallas haciendo la pagina responsive*/
/* Consulta de medios para teléfonos celulares en sentido vertical (<800px) */
@media only screen and (max-width: 800px) {

    * {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .nav-toggle {
        opacity: 0;
        display: block;
    }

    .nav-toggle-label {
        overflow: visible;
        display: block;
    }

    /*Conservamos el estilo de la barra de navegacion cuando el menu desplegable
    es seleccionado*/
    .nav-toggle:checked ~ .navbar {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 40%;
        height: 70%;
        margin-top: 10%;
        background-color: var(--mint-cream);
        z-index: 1000;
    }

    .navbar{
        display: none;
    }
    
    /* Quitamos el margen y el padding del ul y el ul li de la barra de navegación para poder centrar los botones de la barra */
    nav ul {
        margin: 10%;
        display: flex;
        flex-direction: column;
    }
        
    /* Establecemos el estilo de los botones */
    nav ul li a {
        padding: 7px;
        text-decoration: none; /* Sin decoración de texto */
        font-size: large; /* Tamaño de fuente */
        font-family: "LibreBodoni_bold";
        color: var(--brown);
        list-style: none; /* Para quitar los puntos de la lista si los hubiera */
    }

    /* Estilo del enlace de la barra de navegación al pasar el mouse */
    nav ul li a:hover {
        color: var(--yale-blue); /* Cambia el color del texto al pasar el mouse */
    }

    header {
        height: 25%;
    }

    /*Panel/Contenedor que nos permite organizar su contenido en columnas*/
    .panel{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin-top: 30%;
        padding-left: 2%;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 10%;
    }

    /*Panel/Contenedor que nos permite organizar su contenido en columnas*/
    .panel_background{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding-top: 30%;
        padding-left: 2%;
        justify-content: space-between;
        padding-bottom: 10%;
        background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://www.imeditores.com/banocc/universo/fotos/thumbs/125.jpg'); /*Permite bajarle la opacidad al fondo sin modificar la opacidad del texto contenido*/
    }

    .contenedor {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

    .card {
        width: 100%; /* Ajusta el ancho de las cartas según sea necesario */
        border: 1px solid #f4f3f3;
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(182, 182, 182, 0.1);
        margin-bottom: 20px;
    }
}
  
/* Consulta de medios para tabletas o portátiles sencillos (800px - 1200px) */
@media only screen and (min-width: 801px) and (max-width: 1200px) {
    /* Estilos específicos para pantallas de 800px a 1200px de ancho */
    * {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    /* establecemos un estilo para la barra de navegacion, centrando los botones de seleccion 
    su posicion esta fija de modo que se mantendra en la misma y se encuentra ubicada en el lado derecho de la pagina*/
    .navbar {
        position: fixed;
        height: 100%;
        width: 22%;
        align-items: center;  
        background-color: var(--mint-cream);  
    }
        
    /* Quitamos el margen y el padding del ul y el ul li de la barra de navegación para poder centrar los botones de la barra */
    nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 90%;
    }
        
    nav ul li {
        padding: 10px;
        overflow: hidden;
    }

    /* Establecemos el estilo de los botones para que el tamaño de la letra se ajuste a la pantalla*/
    nav ul li a {
        padding: 7px;
        text-decoration: none; /* Sin decoración de texto */
        font-size: large; /* Cambia el tamaño de fuente */
        font-family: "LibreBodoni_bold";
        color: var(--brown);
        list-style: none; /* Para quitar los puntos de la lista si los hubiera */
    }

    /*Panel/Contenedor que nos permite organizar su contenido en columnas*/
    .panel{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding-top: 18%;
        justify-content: space-between;
        padding-bottom: 10%;
    }

}

/* Consulta de medios para pantallas de escritorio (>1200px) */
@media only screen and (min-width: 1201px) {
    /* Estilos específicos para pantallas de más de 1200px de ancho */
    /* El diseño inicial se planeo para este tipo de pantallas por lo tanto no resulta necesario especificar algun cambio en el diseño*/
}