@charset "UTF-8";

/*Usamos fuentes externas descargadas en google font*/
@font-face { 
    font-family: 'LibreBodoni_bold';                /* definimos una fuente */          
    src: url('../Fuentes/LibreBodoni-Bold.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'LibreBodoni_bolditalic';                /* definimos una fuente */          
    src: url('../Fuentes/LibreBodoni-BoldItalic.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'LibreBodoni_italic';                /* definimos una fuente */          
    src: url('../Fuentes/LibreBodoni-Italic.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'LibreBodoni_medium';                /* definimos una fuente */          
    src: url('../Fuentes/LibreBodoni-Medium.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'LibreBodoni_regular';                /* definimos una fuente */          
    src: url('../Fuentes/LibreBodoni-Regular.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'Play_bold';                /* definimos una fuente */          
    src: url('../Fuentes/Play-Bold.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'Play';                /* definimos una fuente */          
    src: url('../Fuentes/Play-Regular.ttf');     /* indica su ubicación */
}

.theme_prin { color: white !important; background-color: #606d80 !important;}
.text-theme { color: #000000 !important; }

/* Aplicamos a cada estilo lo siguiente*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: "LibreBodoni_bold";
    position: fixed;
    top: 0;
    width: 100%;
    height: 22%;
    justify-content: center;
    z-index: 999;
}

.center{
    padding-top: 3%;
    text-align: center;
}

.textLarge { 
    font-size: 48px!important; 
}

@keyframes animatebottom { from { bottom: -300px; opacity: 0; } to { bottom: 0; opacity: 1; } }
.animateBott { 
    position: relative; animation: animatebottom 0.4s; 
}

/* establecemos un estilo para la barra de navegacion, centrando los botones de seleccion 
    su posicion esta fija de modo que se mantendra en la misma y se encuentra ubicada en el lado derecho de la pagina*/
.navbar {
    position: fixed;
    height: 100%;
    width: 22%;
    align-items: center;  
    background-color: #dce0e6;  
}
    
/* Quitamos el margen y el padding del ul y el ul li de la barra de navegación para poder centrar los botones de la barra */
nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 60%;
}
    
nav ul li {
    padding: 10px;
    overflow: hidden;
}
    
/* Establecemos el estilo de los botones */
nav ul li a {
    padding: 15px;
    text-decoration: none; /* Sin decoración de texto */
    font-size: larger; /* Tamaño de fuente */
    font-family: "LibreBodoni_bold";
    color: #606d80;
    list-style: none; /* Para quitar los puntos de la lista si los hubiera */
}

/* Estilo del enlace de la barra de navegación al pasar el mouse */
nav ul li a:hover {
    color: white; /* Cambia el color del texto al pasar el mouse */
}

/*Los siguientes estilos generan el menu desplegable, el cual nos permitira acceder al menu cuando las
dimensiones de la pantalla disminuyan*/
/* Ocultamos el checkbox para el botón de menú desplegable */
.nav-toggle {
    display:none;
}

/* Estilizamos la etiqueta para el botón de menú desplegable */
.nav-toggle-label {
    display: none; /* Ocultamos la etiqueta por defecto */
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    z-index: 999;
    overflow: visible; /*Permitimos que el objeto se vea completo sin ningun scroll*/
}
  
/* Estilizamos las tres líneas horizontales que generan el botón del menú desplegable */
.nav-toggle-label span {
    background: #fff;
    display: block;
    width: 30px;
    height: 4px;
    margin: 10px auto;
    border-radius: 2px;
    transition: 0.3s;
}
  
/* Los siguientes tres estilos aplicados sobre la etiqueta de la barra de navegacion nos permite generara las tres lineas
del menu desplegable*/
.nav-toggle-label span:first-child {
    margin-top: 0;
    width: 45px;
}
  
/* Estilizamos la primera línea del botón del menú desplegable */
.nav-toggle-label span:nth-child(2) {
    width: 45px;
}
/* Estilizamos la segunda línea del botón del menú desplegable */
.nav-toggle-label span:nth-child(3) {
    width: 45px;
}

/* el estilo especificado se aplicará a los elementos <span> que son el primer hijo directo del elemento 
.nav-toggle-label, pero solo si el elemento .nav-toggle está seleccionado (es decir, está "checked").*/

/* Estilizamos la primera línea del botón del menú depslegable cuando el checkbox está marcado */
.nav-toggle:checked ~ .nav-toggle-label span:first-child {
    transform: rotate(45deg) translate(10px, 10px);
    background: white;
}
  
/* ocultamos la linea del medio, ya que la idea es realizar una transformacion tipo transicion que convierta el menu
en una X*/
.nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    opacity: 0;
}
  
/* Estilizamos la tercera línea del botón del menú depslegable cuando el checkbox está marcado */
.nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
    background: white;
}
    
/* establecemos el estilo del pie de pagina*/
footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10pt;
    font-size:medium;
    font-family: 'LibreBodoni_regular-24';
    background-color: #dce0e6;
    text-align: center;
}

.bar {
    width: 100%;
    height: 3px;
}

/*Panel/Contenedor que nos permite organizar su contenido en columnas*/
.panel{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    padding-left: 24%;
    justify-content: space-between;
    padding-bottom: 5%;
}

.contenedor {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 2%;
    padding-bottom: 5%;
}

.panel h2 {
    padding: 5px;
    font-family: "Play_bold";
}

.panel p {
    padding: 5px;
    font-family: "Play";
}

.card {
    width: 30%; /* Ajusta el ancho de las cartas según sea necesario */
    border: 1px solid #f4f3f3;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(182, 182, 182, 0.1);
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
    font-family: "Play_bold";
}

.card-content p {
    padding: 10px;
    margin-bottom: 0;
    font-family: "Play";
}

figcaption {
    font-family: "LibreBodoni_italic"; /* Fuente */
    padding: 2px;
    font-size: 14px; /* Tamaño de fuente */
    color: #567ebb; /* Color del texto */
    text-align: center; /* Alineación del texto centrada */
}

/*Modificamos los estilos para que se adapten a las distintas pantallas haciendo la pagina responsive*/
/* Consulta de medios para teléfonos celulares en sentido vertical (<800px) */
@media only screen and (max-width: 800px) {

    * {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .nav-toggle {
        opacity: 0;
        display: block;
    }

    .nav-toggle-label {
        overflow: visible;
        display: block;
    }

    /*Conservamos el estilo de la barra de navegacion cuando el menu desplegable
    es seleccionado*/
    .nav-toggle:checked ~ .navbar {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 40%;
        height: 70%;
        margin-top: 10%;
        background-color: #dce0e6;
        z-index: 1000;
    }

    .navbar{
        display: none;
    }
    
    /* Quitamos el margen y el padding del ul y el ul li de la barra de navegación para poder centrar los botones de la barra */
    nav ul {
        display: flex;
        flex-direction: column;
    }
        
    /* Establecemos el estilo de los botones */
    nav ul li a {
        padding: 7px;
        text-decoration: none; /* Sin decoración de texto */
        font-size: large; /* Tamaño de fuente */
        font-family: "LibreBodoni_bold";
        color: #606d80;
        list-style: none; /* Para quitar los puntos de la lista si los hubiera */
    }

    /* Estilo del enlace de la barra de navegación al pasar el mouse */
    nav ul li a:hover {
        color: white; /* Cambia el color del texto al pasar el mouse */
    }

    header {
        height: 25%;
    }

    /*Panel/Contenedor que nos permite organizar su contenido en columnas*/
    .panel{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin-top: 30%;
        padding-left: 2%;
        width: 100%;
        justify-content: space-between;
        border: 4px solid green;
        padding-bottom: 10%;
    }

    .contenedor {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

    .card {
        width: 100%; /* Ajusta el ancho de las cartas según sea necesario */
        border: 1px solid #f4f3f3;
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(182, 182, 182, 0.1);
        margin-bottom: 20px;
    }
}
  
/* Consulta de medios para tabletas o portátiles sencillos (800px - 1200px) */
@media only screen and (min-width: 801px) and (max-width: 1200px) {
    /* Estilos específicos para pantallas de 800px a 1200px de ancho */
    * {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    /* establecemos un estilo para la barra de navegacion, centrando los botones de seleccion 
    su posicion esta fija de modo que se mantendra en la misma y se encuentra ubicada en el lado derecho de la pagina*/
    .navbar {
        position: fixed;
        height: 100%;
        width: 22%;
        align-items: center;  
        background-color: #dce0e6;  
    }
        
    /* Quitamos el margen y el padding del ul y el ul li de la barra de navegación para poder centrar los botones de la barra */
    nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 90%;
    }
        
    nav ul li {
        padding: 10px;
        overflow: hidden;
    }

    /* Establecemos el estilo de los botones para que el tamaño de la letra se ajuste a la pantalla*/
    nav ul li a {
        padding: 7px;
        text-decoration: none; /* Sin decoración de texto */
        font-size: large; /* Cambia el tamaño de fuente */
        font-family: "LibreBodoni_bold";
        color: #606d80;
        list-style: none; /* Para quitar los puntos de la lista si los hubiera */
    }

    /*Panel/Contenedor que nos permite organizar su contenido en columnas*/
    .panel{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding-top: 18%;
        justify-content: space-between;
        border: 4px solid green;
        padding-bottom: 10%;
    }
}

/* Consulta de medios para pantallas de escritorio (>1200px) */
@media only screen and (min-width: 1201px) {
    /* Estilos específicos para pantallas de más de 1200px de ancho */
    /* El diseño inicial se planeo para este tipo de pantallas por lo tanto no resulta necesario especificar algun cambio en el diseño*/
}