@charset "UTF-8";

/*Usamos fuentes externas descargadas en google font*/
@font-face { 
    font-family: 'Montserrat_black';                /* definimos una fuente */          
    src: url('Fuentes/Montserrat-Black.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'Montserrat_bold';                /* definimos una fuente */          
    src: url('Fuentes/Montserrat-Bold.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'Montserrat_light';                /* definimos una fuente */          
    src: url('Fuentes/Montserrat-Light.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'Montserrat_thin';                /* definimos una fuente */          
    src: url('Fuentes/Montserrat-Thin.ttf');     /* indica su ubicación */
}

@font-face { 
    font-family: 'Montserrat_regular';                /* definimos una fuente */          
    src: url('Fuentes/Montserrat-Regular.ttf');     /* indica su ubicación */
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header{
    position: fixed;
    width: 100vw;
    background-color: #785d56;
    height: 20%;
    z-index: 1000; /* Asegura que el header esté por encima del contenido */
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* quitamos el margen y el padding del ul y el ul li de la barra de navegacion para poder centrar los botones de la barra*/
/* Estilo de la lista no ordenada */
nav ul {
    display: flex; /* Display como flexbox */
}

/* Estilo del elemento de lista de la barra de navegación */
nav ul li {
    display: flex;
    list-style-type: none; /* Sin viñetas */
    align-items: center; /* Alineación del texto */
    justify-content: center;
}

/* Estilo de los enlaces de la barra de navegación */
nav ul li a {
    padding: 7px;
    color: #e6d5c1; /* Color del texto */
    text-decoration: none; /* Sin decoración de texto */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    font-size: medium; /* Tamaño de fuente */
    font-family: 'Montserrat_bold'; /* Fuente */
}

/* Estilo del enlace de la barra de navegación al pasar el mouse */
nav ul li a:hover {
    color: white; /* Cambia el color del texto al pasar el mouse */
}


/* El siguiente estilo es para cuadrar la imagen centrada en un contenedor */
.contenedorcol {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%; /* Ubica el div en el centro horizontal */
    top: 70%;
    width: 80vw;
    height: 100vh;
    transform: translate(-50%, -50%); /* Centra el div exactamente en el centro */
}

.contenedorrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.contenedorrow_uno {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.contenedorcolum {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contenedorleft{
    width: 50%;
    height: 100%;
    justify-content: center;
}
.contenedorright{
    width: 50%;
    height: 100%;
    justify-content: center;
}
.contenedordown_index{
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: #fff4e3;
}

/* Estilo del panel usado en cada página web para cuadrar el texto y el contenido */
.panel {
    position: absolute;
    flex-direction: column;
    overflow: visible;
    left: 50%; /* Ubica el div en el centro horizontal */
    top: 50%;
    width: 80vw;
    margin-top: 12%;
    height: 100vh;
    transform: translate(-50%, -50%); /* Centra el div exactamente en el centro */
}

.panel_dos {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('imagenes/textos.png');
    background-position: center; /* Centra la imagen de fondo */
    position: absolute;
    flex-direction: column;
    overflow: visible;
    left: 50%; /* Ubica el div en el centro horizontal */
    top: 50%;
    width: 80vw;
    margin-top: 12%;
    height: 100vh;
    transform: translate(-50%, -50%); /* Centra el div exactamente en el centro */
    line-height: 1.5;
}

.titulohead{
    font-family: "Montserrat_black";
    color: #e6d5c1;
    font-size: 1.7rem;
    text-align: center;
    padding-top: 2%;
}

.text_index{
    font-family: "Montserrat_black";
    position: relative; /*Establecemos que su posicion sea relativa con respecto al contenedor en el cual se ubica*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #785d56;
    font-size: 4rem;
    padding-top: 2%;
    padding-left: 2%;
}

/*Texto del inicio al cual le aplicamos una transicion que cambia su color durante 2 segundos*/
.text_index_trans{
    font-family: "Montserrat_black";
    position: relative; /*Establecemos que su posicion sea relativa con respecto al contenedor en el cual se ubica*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #785d56;
    font-size: 4rem;
    padding-top: 2%;
    padding-left: 2%;
    transition: color 2s;
}
.text_index_trans:hover{
    font-family: "Montserrat_black";
    position: relative; /*Establecemos que su posicion sea relativa con respecto al contenedor en el cual se ubica*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #be4c54;
    font-size: 4rem;
    padding-top: 2%;
    padding-left: 2%;
    cursor:pointer
}


.text_intro{
    font-family: "Montserrat_light";
    position: relative; /*Establecemos que su posicion sea relativa con respecto al contenedor en el cual se ubica*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #be4c54;
    font-size: 1rem;
    padding: 2%;
}

.text_titulo {
    font-size:x-large; /* Tamaño de fuente */
    color: #785d56; /* Color del texto */
    font-family: "Montserrat_black"; /* Fuente */
    text-align: left; /* Alineación del texto */
    padding: 1%;
}

/* Estilo para el texto del cuerpo en negro, tamaño mediano y estilo light */
.text_uno {
    padding: 2%;
    font-size: medium; /* Tamaño de fuente */
    color: #785d56; /* Color del texto */
    font-family: "Montserrat_regular"; /* Fuente */
}

.text_dos {
    padding: 2%;
    font-size: medium; /* Tamaño de fuente */
    color: #be4c54; /* Color del texto */
    font-family: "Montserrat_bold"; /* Fuente */
}

/* El siguiente estilo es para cuadrar la imagen al lado izquierdo del texto */
.img_uno{
    float: left;
    margin-right: 20pt;
	margin-top: 20pt;
}

.img_dos {
    padding: 2%;
    align-items: center;
    width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
    height: 100%; /* Establece la altura máxima de la imagen al 100% del contenedor */
}

/* El siguiente estilo es para cuadrar la imagen al lado derecho del texto */
.img_tres {
    float: right; /* Flota la imagen a la derecha del texto */
    margin-left: 20pt; /* Margen izquierdo para separar la imagen del texto */
    margin-top: 20pt;
}

.list_uno {
    font-size: medium; /* Tamaño de fuente medio */
    color: #be4c54; /* Color del texto */
    font-family: "Montserrat_bold"; /* Fuente */
}

.video{
    display: flex;
    overflow: hidden;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #e6d5c1;
}

table {
    width: 100%; /* Ancho del 100% */
    border-collapse: collapse; /* Colapso de borde de tabla */
}

th, td {
    border: 1px solid #e6d5c1; /* Borde de 1 píxel sólido */
    padding: 8px; /* Relleno */
    text-align: center; /* Alineación del texto centrada */
    height: 20px; /* Altura del 20px */
    font-family: "Montserrat_regular"; /* Fuente */
    font-size: medium; /* Tamaño de fuente medio */
}

th {
    text-align: center; /* Alineación del texto centrada */
    font-family: "Montserrat_bold"; /* Fuente */
    font-size: large; /* Tamaño de fuente grande */
    height: 30px; /* Altura del 30px */
    background-color: #e6d5c1; /* Color de fondo */
}

figcaption {
    font-family: "Montserrat_bold"; /* Fuente */
    font-size: 14px; /* Tamaño de fuente */
    color: #be4c54; /* Color del texto */
    text-align: center; /* Alineación del texto centrada */
}


/* Consulta de medios para teléfonos celulares en sentido vertical (<800px) */
@media only screen and (max-width: 800px) {

    * {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .header{
        position: fixed;
        width: 100vw;
        background-color: #785d56;
        height: 34%;
        z-index: 1000; /* Asegura que el header esté por encima del contenido */
    }
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    } 
    /* quitamos el margen y el padding del ul y el ul li de la barra de navegacion para poder centrar los botones de la barra*/
    /* Estilo de la lista no ordenada */
    nav ul {
        display: flex; /* Display como flexbox */
        flex-direction: column;
    }
    /* Estilo de los enlaces de la barra de navegación */
    nav ul li a {
        padding: 3px;
        color: #e6d5c1; /* Color del texto */
        text-decoration: none; /* Sin decoración de texto */
        text-transform: uppercase; /* Transforma el texto a mayúsculas */
        font-size: smaller; /* Tamaño de fuente */
        font-family: 'Montserrat_bold'; /* Fuente */
    }
    /* El siguiente estilo es para cuadrar la imagen centrada en un contenedor */
    .contenedorcol {
        display: inline-block;
        position: absolute;
        overflow: visible;
        box-sizing: border-box;
        flex-direction: column;
        left: 50%; /* Ubica el div en el centro horizontal */
        top: 50%;
        width: 80vw;
        height: 100vh;
        margin-top: 45%;
        transform: translate(-50%, -50%); /* Centra el div exactamente en el centro */
    }
    .contenedorrow {
        flex-direction: column;
        overflow: visible;
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
    }
    .contenedorleft{
        width: 100%;  
        min-height: fit-content; 
        max-height: 20%;
        justify-content: center;
    }
    .contenedorright{
        width: 100%; 
        height: inherit; 
        justify-content: center;  
    }
    /* Estilo del panel usado en cada página web para cuadrar el texto y el contenido */
    .panel {
        position: absolute;
        flex-direction: column;
        overflow: visible;
        left: 50%; /* Ubica el div en el centro horizontal */
        top: 50%;
        width: 80vw;
        margin-top: 40%;
        height: 100vh;
        transform: translate(-50%, -50%); /* Centra el div exactamente en el centro */
    }
    .panel_dos {
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('imagenes/textos.png');
        background-position: center; /* Centra la imagen de fondo */
        position: absolute;
        flex-direction: column;
        overflow: visible;
        left: 50%; /* Ubica el div en el centro horizontal */
        top: 50%;
        width: 80vw;
        margin-top: 40%;
        height: 100vh;
        transform: translate(-50%, -50%); /* Centra el div exactamente en el centro */
        line-height: 1.5;
    }
    .titulohead{
        font-family: "Montserrat_black";
        color: #e6d5c1;
        font-size: 1rem;
        text-align: center;
        padding-top: 1%;
    }
    .text_index{
        font-family: "Montserrat_black";
        position: relative; /*Establecemos que su posicion sea relativa con respecto al contenedor en el cual se ubica*/
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #785d56;
        font-size: 4rem;
        padding-top: 2%;
        padding-left: 2%;
    }
    /*Texto del inicio al cual le aplicamos una transicion que cambia su color durante 2 segundos*/
    .text_index_trans{
        font-family: "Montserrat_black";
        position: relative; /*Establecemos que su posicion sea relativa con respecto al contenedor en el cual se ubica*/
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #785d56;
        font-size: 3rem;
        padding: 2%;
        text-align: center;
        transition: color 2s;
    }
    .text_index_trans:hover{
        font-family: "Montserrat_black";
        position: relative; /*Establecemos que su posicion sea relativa con respecto al contenedor en el cual se ubica*/
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #be4c54;
        font-size: 3rem;
        cursor:pointer
    }
    .text_intro{
        font-family: "Montserrat_light";
        position: relative; /*Establecemos que su posicion sea relativa con respecto al contenedor en el cual se ubica*/
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #be4c54;
        font-size: 1rem;
        padding: 2%;
    }
    .text_titulo {
        font-size:x-large; /* Tamaño de fuente */
        color: #785d56; /* Color del texto */
        font-family: "Montserrat_black"; /* Fuente */
        text-align: left; /* Alineación del texto */
        padding: 1%;
    }
    .img_dos {
        padding: 2%;
        align-items: center;
        max-height: 90%;
        max-width: 90%;
        width: auto; /* Establece el ancho máximo de la imagen al 100% del contenedor */
        height: auto; /* Establece la altura máxima de la imagen al 100% del contenedor */
    }
  }
  
  /* Consulta de medios para tabletas o portátiles sencillos (800px - 1200px) */
  @media only screen and (min-width: 801px) and (max-width: 1200px) {
    /* Estilos específicos para pantallas de 800px a 1200px de ancho */
    * {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    /* Estilo de los enlaces de la barra de navegación */
    nav ul li a {
        padding: 5px;
        color: #e6d5c1; /* Color del texto */
        text-decoration: none; /* Sin decoración de texto */
        text-transform: uppercase; /* Transforma el texto a mayúsculas */
        font-size: small; /* Tamaño de fuente */
        font-family: 'Montserrat_bold'; /* Fuente */
    }
    /* El siguiente estilo es para cuadrar la imagen centrada en un contenedor */
    .contenedorcol {
        display: inline-block;
        position: absolute;
        overflow: visible;
        box-sizing: border-box;
        flex-direction: column;
        left: 50%; /* Ubica el div en el centro horizontal */
        top: 50%;
        width: 80vw;
        height: 100vh;
        margin-top: 7%;
        transform: translate(-50%, -50%); /* Centra el div exactamente en el centro */
    }
    /* Estilo del panel usado en cada página web para cuadrar el texto y el contenido */
    .panel {
        position: absolute;
        flex-direction: column;
        overflow: visible;
        left: 50%; /* Ubica el div en el centro horizontal */
        top: 50%;
        width: 80vw;
        margin-top: 12%;
        height: 100vh;
        transform: translate(-50%, -50%); /* Centra el div exactamente en el centro */
    }
    .panel_dos {
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('imagenes/textos.png');
        background-position: center; /* Centra la imagen de fondo */
        position: absolute;
        flex-direction: column;
        overflow: visible;
        left: 50%; /* Ubica el div en el centro horizontal */
        top: 50%;
        width: 80vw;
        margin-top: 12%;
        height: 100vh;
        transform: translate(-50%, -50%); /* Centra el div exactamente en el centro */
        line-height: 1.5;
    }
    .titulohead{
        font-family: "Montserrat_black";
        color: #e6d5c1;
        font-size: 1rem;
        text-align: center;
        padding-top: 1%;
    }
    .img_dos {
        padding: 2%;
        align-items: center;
        max-height: 90%;
        max-width: 90%;
        width: auto; /* Establece el ancho máximo de la imagen al 100% del contenedor */
        height: auto; /* Establece la altura máxima de la imagen al 100% del contenedor */
    }
  }
  
  /* Consulta de medios para pantallas de escritorio (>1200px) */
  @media only screen and (min-width: 1201px) {
    /* Estilos específicos para pantallas de más de 1200px de ancho */
    /* El diseño inicial se planeo para este tipo de pantallas por lo tanto no resulta necesario especificar algun cambio en el diseño*/
  }