@charset "UTF-8";

/*Usamos fuentes externas descargadas en google font*/
@font-face { 
    font-family: 'Montserrat_black';                /* definimos una fuente */          
    src: url('Fuentes/Montserrat-Black.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'Montserrat_bold';                /* definimos una fuente */          
    src: url('Fuentes/Montserrat-Bold.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'Montserrat_light';                /* definimos una fuente */          
    src: url('Fuentes/Montserrat-Light.ttf');     /* indica su ubicación */
}
@font-face { 
    font-family: 'Montserrat_thin';                /* definimos una fuente */          
    src: url('Fuentes/Montserrat-Thin.ttf');     /* indica su ubicación */
}

.titulo {
    background-color: white; /* Color de fondo */
    position: fixed; /* Posición fija en la ventana del navegador */
    flex-direction: column; /* Dirección de diseño de flexbox */
    height: 70px; /* Altura del título */
    top: 0; /* Espaciado superior */
    left: 0; /* Espaciado izquierdo */
    right: 0; /* Espaciado derecho */
    text-align: center; /* Alineación del texto */
    font-family: "Montserrat_black"; /* Fuente del título */
    color: #B9A485; /* Color del texto */
    font-size: 320%; /* Tamaño de fuente */
    padding-top: 50px; /* Espacio superior adicional */
}

nav {
    flex: 0; /* Establece el factor de flexibilidad */
    background-color: #B9A485; /* Color de fondo */
    padding: 50px 50px 50px 50px; /* Relleno (arriba, derecha, abajo, izquierda) */
    display: flex; /* Display como flexbox */
    position: fixed; /* Posición fija */
    top: 120px; /* Espaciado superior */
    left: 0; /* Espaciado izquierdo */
    right: 0; /* Espaciado derecho */
    flex-direction: row; /* Dirección de diseño de flexbox */
    justify-content: center; /* Alineación horizontal */
}

/* quitamos el margen y el padding del ul y el ul li de la barra de navegacion para poder centrar los botones de la barra*/
/* Estilo de la lista no ordenada */
nav ul {
    margin: 0; /* Margen cero */
    padding: 0; /* Relleno cero */
    display: flex; /* Display como flexbox */
}

/* Estilo del elemento de lista de la barra de navegación */
nav ul li {
    list-style-type: none; /* Sin viñetas */
    margin: 0; /* Margen cero */
    padding: 5px; /* Relleno */
}

/* Estilo de los enlaces de la barra de navegación */
nav ul li a {
    margin: 0; /* Margen cero */
    padding: 0; /* Relleno cero */
    padding: 20px; /* Relleno (arriba y abajo) */
    background-color: #E9ECEE; /* Color de fondo */
    color: black; /* Color del texto */
    text-decoration: none; /* Sin decoración de texto */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    font-size: medium; /* Tamaño de fuente */
    font-family: 'Montserrat_bold'; /* Fuente */
    text-align: center; /* Alineación del texto */
    border-radius: 5px; /* Radio de borde */
}

/* Estilo del enlace de la barra de navegación al pasar el mouse */
nav ul li a:hover {
    background-color: #B9A485; /* Cambia el color de fondo al pasar el mouse */
    color: white; /* Cambia el color del texto al pasar el mouse */
}


/* Estilo del pie de página */
footer {
    position: fixed; /* Posición fija */
    width: 100%; /* Ancho del 100% */
    left: 0; /* Espaciado izquierdo */
    bottom: 0; /* Espaciado inferior */
    padding: 10px; /* Relleno */
    font-size: medium; /* Tamaño de fuente */
    font-family: 'Montserrat_thin'; /* Fuente */
    background-color: white; /* Color de fondo */
    color: black; /* Color del texto */
    text-align: center; /* Alineación del texto */
}


/* Estilo para resaltar subtítulos con color diferente */
.text_uno {
    font-size: x-large; /* Tamaño de fuente */
    color: #C19659; /* Color del texto */
    font-family: "Montserrat_bold"; /* Fuente */
}

/* Estilo para subtítulos en texto negro, tamaño mediano y estilo light */
.text_dos {
    font-size: medium; /* Tamaño de fuente */
    color: black; /* Color del texto */
    font-family: "Montserrat_light"; /* Fuente */
    text-align: left; /* Alineación del texto */
}

/* Estilo para el texto del cuerpo en negro, tamaño mediano y estilo light */
.text_tres {
    font-size: medium; /* Tamaño de fuente */
    color: black; /* Color del texto */
    font-family: "Montserrat_thin"; /* Fuente */
}

/* El siguiente estilo es para cuadrar la imagen al lado izquierdo del texto */
.img_uno{
    float: left;
    margin-right: 20pt;
	margin-top: 20pt;
    border-radius: 5pt; /* Redondea los bordes de la imagen */
}

/* El siguiente estilo es para cuadrar la imagen centrada en un contenedor */
.contenedor {
	flex: 0;
    display: flex;
	flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 300px; /* Ajusta la altura según sea necesario */
}
.contenedor2 {
	flex: 0;
    display: flex;
	flex-direction: row;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 300px; /* Ajusta la altura según sea necesario */
}

.img_dos {
    max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
    max-height: 100%; /* Establece la altura máxima de la imagen al 100% del contenedor */
}

/* El siguiente estilo es para cuadrar la imagen al lado derecho del texto */
.img_tres {
    float: right; /* Flota la imagen a la derecha del texto */
    margin-left: 20pt; /* Margen izquierdo para separar la imagen del texto */
    border-radius: 5pt; /* Borde redondeado */
}

ul {
    font-size: medium; /* Tamaño de fuente medio */
    color: black; /* Color del texto */
    font-family: "Montserrat_bold"; /* Fuente */
}

/* Estilo del panel usado en cada página web para cuadrar el texto y el contenido */
.panel {
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
    position: fixed; /* Posición fija */
    background-color: white; /* Color de fondo blanco */
    padding: 10pt 40pt 10pt 40pt; /* Relleno (arriba, derecha, abajo, izquierda) */
    top: 40%; /* Posiciona el panel en el 40% superior de la pantalla */
    width: 90%; /* Ancho del 90% */
    max-height: 50%; /* Altura máxima del 50% */
}

table {
    width: 100%; /* Ancho del 100% */
    border-collapse: collapse; /* Colapso de borde de tabla */
}

th, td {
    border: 1px solid #ddd; /* Borde de 1 píxel sólido */
    padding: 8px; /* Relleno */
    text-align: center; /* Alineación del texto centrada */
    height: 20px; /* Altura del 20px */
    font-family: "Montserrat_thin"; /* Fuente */
    font-size: medium; /* Tamaño de fuente medio */
}

th {
    text-align: center; /* Alineación del texto centrada */
    font-family: "Montserrat_bold"; /* Fuente */
    font-size: large; /* Tamaño de fuente grande */
    height: 30px; /* Altura del 30px */
    background-color: #E9ECEE; /* Color de fondo */
}

figcaption {
    font-family: "Montserrat_thin"; /* Fuente */
    font-size: 14px; /* Tamaño de fuente */
    color: black; /* Color del texto */
    text-align: center; /* Alineación del texto centrada */
}
